#: talu2.op.tt
#: Test div and idiv.
#: Salent v0.13
#: Copyright (c) 2005 Agent Zhang.
#: 2005-07-18 2005-07-18

op : A : B : D : cin : word_size : delay
:::::32:5
[% USE Perl;

   max = Perl.pow(2, 32);
   max2 = Perl.pow(2, 16);
-%]

[% i = 0 -%]
[% WHILE i < 100;
     D = '00000000';
     A = Perl.int(Perl.rand(max));
     A = Perl.sprintf("%08x", A);
     B = Perl.int(Perl.rand(max));
     B = Perl.sprintf("%08x", B);
     NEXT IF B.match('^0+$');
-%]
div : [% A %] : [% B %] : [% D %] : : :
    [%- i = i + 1 %]
[% END -%]

[% i = 0 -%]
[% WHILE i < 100;
     D = Perl.int(Perl.rand(max2));
     D = Perl.sprintf("%08x", D);
     A = Perl.int(Perl.rand(max));
     A = Perl.sprintf("%08x", A);
     B = Perl.int(Perl.rand(max));
     B = Perl.sprintf("%08x", B);
     NEXT IF B.match('^0+$');
-%]
div : [% A %] : [% B %] : [% D %] : : :
    [%- i = i + 1 %]
[% END -%]

[% i = 0 -%]
[% WHILE i < 100;
     D = '00000000';
     A = Perl.int(Perl.rand(max));
     A = Perl.sprintf("%08x", A);
     B = Perl.int(Perl.rand(max));
     B = Perl.sprintf("%08x", B);
     NEXT IF B.match('^0+$');
-%]
idiv : [% A %] : [% B %] : [% D %] : : :
    [%- i = i + 1 %]
[% END -%]

[% i = 0 -%]
[% WHILE i < 100;
     D = Perl.int(Perl.rand(max2));
     D = Perl.sprintf("%08x", D);
     A = Perl.int(Perl.rand(max));
     A = Perl.sprintf("%08x", A);
     B = Perl.int(Perl.rand(max));
     B = Perl.sprintf("%08x", B);
     NEXT IF B.match('^0+$');
-%]
idiv : [% A %] : [% B %] : [% D %] : : :
    [%- i = i + 1 %]
[% END -%]
